code[class*="language-"],
pre[class*="language-"]
    border-radius: 5px
    text-transform: lowercase


div.code-toolbar  
    .toolbar
        opacity: 1 !important 
        button
            transition: all 0.2s !important
            padding: 10px 20px !important
            border-radius: 4px !important
            background: transparent !important
            box-shadow: 0 0 0 !important
            letter-spacing: 1px !important
            font-weight: 900 !important
            &:hover
                background-color: #fff !important
    