  <!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">
    

    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden md:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->
      <div class="sidebar">
        <ul class="links-area">

          <!-- Start Link --> 
          <li>
            <a href="./index.html" class="active">
              <i class="fad fa-chart-pie"></i>                
              Analytics dashboard
            </a>
          </li>
          <!-- End Link --> 

          <!-- End Link -->
          <li>
            <a href="./index.html">
              <i class="fad fa-shopping-cart"></i>
              ecommerce dashboard
            </a>
          </li>
          <!-- End Link -->

          <!-- Start Link -->
          <li>
            <a href="./index.html">
              <i class="fad fa-cheese-swiss"></i>
              Widgets
            </a>
          </li>
          <!-- End Link -->

          <!-- Start Link -->
          <li>
            <a class="toggle-submenu">
              <i class="fad fa-tree"></i>
                UI Elements
              <i class="fa fa-angle-right"></i>
            </a>

            <!-- Start Child Link --> 
            <ul class="child-links ">

              <li><a href="./typography.html">typography</a></li>

              <li><a href="./alert.html">alerts</a></li>

              <li><a href="./buttons.html">buttons</a></li>

              <li><a href="#">icons</a></li>

              <li><a href="#">Card</a></li>

            </ul>
            <!-- End Child Link --> 
          </li>
          <!-- End Link -->

          
          <!-- Start Link -->
          <!-- End Link -->

          <!-- Start Link -->
          <li>
            <a class="toggle-submenu">
              <i class="fad fa-book"></i>
              Pages
              <i class="fa fa-angle-right"></i>
            </a>
            <!-- Start Child Link --> 
            <ul class="child-links ">
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">E-Commerce</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Error 404</a></li>
              <li><a href="#">Error 500</a></li>
            </ul>
            <!-- End Child Link --> 
          </li>
          <!-- End Link --> 

          <!-- Start Link -->
          <li>
            <a href="./index.html">
              <i class="fad fa-computer-classic"></i>
              Components
            </a>
          </li>
          <!-- End Link -->

          <!-- Start Link -->
          <li>
            <a href="./index.html">
              <i class="fad fa-envelope-open-text"></i>
              E-Mail
            </a>
          </li>
          <!-- End Link -->

        </ul>
      </div>

    </div>
    <!-- end sidebar content -->
</div>
<!-- end sidbar -->
