// Navbar Component Styles
// Self-contained styles for the navbar component

.navbar {
    @apply fixed w-full top-0 z-20 flex flex-row flex-wrap items-center bg-white p-6 border-b border-gray-300;
}

.navbar-logo {
    @apply flex-none w-56 flex flex-row items-center;

    img {
        @apply w-10 flex-none;
    }

    strong {
        @apply capitalize ml-1 flex-1;
    }
}

.navbar-toggle {
    @apply block md:hidden right-0 mr-6;
}

.navbar-content {
    @apply animated hidden md:flex md:flex-row md:items-center md:static md:mt-0 md:border-none md:p-0 md:bg-transparent md:justify-between flex-1 pl-3 flex-col fixed top-0 w-full left-0 mt-16 border-t border-b border-gray-200 p-10 bg-white z-10;
}

.navbar-left {
    @apply text-gray-600 w-full flex flex-row justify-evenly pb-10 mb-10 border-b border-gray-200 md:w-auto md:border-none md:pb-0 md:mb-0 md:justify-start;

    a {
        @apply mr-2 transition duration-500 ease-in-out;

        &:hover {
            @apply text-gray-900;
        }
    }
}

.navbar-right {
    @apply flex flex-row-reverse items-center;
}