@import "./tailwind.css";
@import "./theme.css";

// Widget styles
@import "../components/widgets/navbar/navbar.scss";
@import "../components/widgets/sidebar/sidebar.scss";

// UI component styles
@import "../components/ui/button/button.scss";
@import "../components/ui/dropdown/dropdown.scss";
@import "../components/ui/code-block/code-block.scss";

/* Base Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
   text-transform: capitalize;
}

/* Exclude code elements from capitalization */
code,
pre,
.code-block-stripe,
.code-content,
.font-mono,
[class*="language-"] {
   text-transform: none !important;
}

p {
   letter-spacing: 0.05em;
   font-size: 0.875rem;
   color: hsl(var(--muted-foreground, 215.4 16.3% 46.9%));
}