@import "./tailwind.css";

// Widget styles
@import "../components/widgets/navbar/navbar.scss";
@import "../components/widgets/sidebar/sidebar.scss";

// UI component styles
@import "../components/ui/dropdown/dropdown.scss";
@import "../components/ui/code-block/code-block.scss";

/* Base Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
   text-transform: capitalize;
}

p {
   letter-spacing: 0.05em;
   font-size: 0.875rem;
   color: #6b7280;
}