<div class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-out mt-6">
    <div class="p-6 grid grid-cols-6 lg:grid-cols-1">

        <a href="#"
            class="text-center capitalize bg-gray-900 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75 mr-6 lg:mr-0 lg:mb-6">
            dark</a>
        <a href="#"
            class="text-center capitalize bg-indigo-600 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75 mr-6 lg:mr-0 lg:mb-6">primary</a>
        <a href="#"
            class="text-center capitalize bg-gray-500 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75 mr-6 lg:mr-0 lg:mb-6">Secondary</a>
        <a href="#"
            class="text-center capitalize bg-green-500 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75 mr-6 lg:mr-0 lg:mb-6">Success</a>
        <a href="#"
            class="text-center capitalize bg-red-500 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75 mr-6 lg:mr-0 lg:mb-6">Danger</a>
        <a href="#"
            class="text-center capitalize bg-yellow-500 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75 lg:mb-6">info
        </a>
    </div>

    <div class="px-6 py-4 border-t border-gray-200 bg-gray-50">
        <script type="text/plain" class="language-html">
            <a href="#" class="text-center capitalize bg-gray-900 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75"> dark button</a>
            <a href="#" class="text-center capitalize bg-indigo-600 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75">primary button</a>        
            <a href="#" class="text-center capitalize bg-gray-500 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75">Secondary button</a>
            <a href="#" class="text-center capitalize bg-green-500 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75">Success button</a>
            <a href="#" class="text-center capitalize bg-red-500 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75">Danger button</a>
            <a href="#" class="text-center capitalize bg-yellow-500 text-white block py-2 px-5 rounded transition-all ease-in-out duration-300 hover:opacity-75">info button</a>
        </script>
    </div>
</div>