<!-- congrats -->
<div class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-out ">

    <div class="p-6 h-full flex flex-col justify-between">

        <div>
            <h1 class="text-lg font-bold tracking-wide">Congratulations Moe!</h1>
            <p class="text-gray-600 mt-2">Best seller of the month</p>
        </div>

        <div class="flex flex-row mt-10 items-end justify-between">

            <div class="flex-1 pr-6">
                <h1 class="font-extrabold text-4xl text-teal-400">$89k</h1>
                <p class="mt-3 mb-4 text-sm text-gray-500">You have done 57.6% more sales today.</p>
                <a href="#"
                    class="text-center capitalize bg-teal-400 block py-2 px-5 rounded text-white transition-all ease-in-out duration-300 shadow-md hover:shadow-lg py-3 whitespace-nowrap">
                    view sales
                </a>
            </div>

            <div class="w-auto h-auto relative">
                <img class="object-cover w-32 xl:w-48" src="/img/congrats.svg" alt="congratulations">
            </div>

        </div>

    </div>

</div>
<!-- end congrats -->