<div class="grid grid-cols-1 gap-6 xl:grid-cols-4">


    <!-- card -->
    <div class="report-card group">
        <div
            class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-out border border-gray-200 min-h-[150px] hover:shadow-xl hover:border-gray-300 hover:-translate-y-1">
            <div class="p-6 flex flex-col">

                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="text-xl font-extrabold text-indigo-700 fad fa-shopping-cart"></div>
                    <span
                        class="rounded-full text-white inline-flex items-center px-2.5 py-0.5 text-xs font-medium bg-teal-400">
                        12%
                        <i class="fal fa-chevron-up ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="text-2xl font-extrabold num-4"></h1>
                    <p>items sales</p>
                </div>
                <!-- end bottom -->

            </div>
        </div>
        <div
            class="bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none transition-colors duration-150 ease-out group-hover:bg-gray-50">
        </div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card group">
        <div
            class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-out border border-gray-200 min-h-[150px] hover:shadow-xl hover:border-gray-300 hover:-translate-y-1">
            <div class="p-6 flex flex-col">

                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="text-xl font-extrabold text-red-700 fad fa-store"></div>
                    <span
                        class="rounded-full text-white inline-flex items-center px-2.5 py-0.5 text-xs font-medium bg-red-400">
                        6%
                        <i class="fal fa-chevron-down ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="text-2xl font-extrabold num-4"></h1>
                    <p>new orders</p>
                </div>
                <!-- end bottom -->

            </div>
        </div>
        <div
            class="bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none transition-colors duration-150 ease-out group-hover:bg-gray-50">
        </div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card group">
        <div
            class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-out border border-gray-200 min-h-[150px] hover:shadow-xl hover:border-gray-300 hover:-translate-y-1">
            <div class="p-6 flex flex-col">

                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="text-xl font-extrabold text-yellow-600 fad fa-sitemap"></div>
                    <span
                        class="rounded-full text-white inline-flex items-center px-2.5 py-0.5 text-xs font-medium bg-teal-400">
                        72%
                        <i class="fal fa-chevron-up ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="text-2xl font-extrabold num-4"></h1>
                    <p>total Products</p>
                </div>
                <!-- end bottom -->

            </div>
        </div>
        <div
            class="bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none transition-colors duration-150 ease-out group-hover:bg-gray-50">
        </div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card group">
        <div
            class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-out border border-gray-200 min-h-[150px] hover:shadow-xl hover:border-gray-300 hover:-translate-y-1">
            <div class="p-6 flex flex-col">

                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="text-xl font-extrabold text-green-700 fad fa-users"></div>
                    <span
                        class="rounded-full text-white inline-flex items-center px-2.5 py-0.5 text-xs font-medium bg-teal-400">
                        150%
                        <i class="fal fa-chevron-up ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="text-2xl font-extrabold num-4"></h1>
                    <p>new Visitor</p>
                </div>
                <!-- end bottom -->

            </div>
        </div>
        <div
            class="bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none transition-colors duration-150 ease-out group-hover:bg-gray-50">
        </div>
    </div>
    <!-- end card -->


</div>