{{> start}}


{{> navbar}}


<!-- strat wrapper -->
<div class="min-h-screen">

  {{> sidebar}}

  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 mt-20 md:ml-64">

    <!-- congrats & summary -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
      {{> index/congrats}}
      {{> index/summary}}
    </div>
    <!-- end congrats & summary -->

    <!-- status -->
    {{> index/status}}
    <!-- end status -->

    <!-- best seller & traffic -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mt-5">
      {{> index/bestSeller}}
      {{> index/recentOrder}}
    </div>
    <!-- end best seller & traffic -->


  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

{{> end}}