{{> start}}

{{> navbar}}

<!-- start wrapper -->
<div class="min-h-screen">

  {{> sidebar}}

  <!-- start content -->
  <div class="bg-gray-100 flex-1 p-6 mt-20 md:ml-64">

    <!-- General Report -->
    {{> index/generalReport}}
    <!-- End General Report -->

    <!-- start Analytics -->
    {{> index/analytics-1}}
    <!-- end Analytics -->

    <!-- Sales Overview -->
    {{> index/salesOverview}}
    <!-- end Sales Overview -->

    <!-- start numbers -->
    {{> index/numbers}}
    <!-- end numbers -->

    <!-- start quick Info -->
    {{> index/quickInfo}}
    <!-- end quick Info -->

  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

{{> end}}