<p class="mb-4">you can loop throw class h1 to h6 and use them on any HTML element</p>


<div class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-out">
    <div class="p-6">
        <h1 class="text-6xl font-black">h1 Cleopatra heading</h1>
        <h1 class="text-5xl font-extrabold">h2 Cleopatra heading</h1>
        <h1 class="text-4xl font-extrabold">h3 Cleopatra heading</h1>
        <h1 class="text-3xl font-extrabold">h4 Cleopatra heading</h1>
        <h1 class="text-2xl font-extrabold">h5 Cleopatra heading</h1>
        <h1 class="text-xl font-extrabold">h6 Cleopatra heading</h1>
    </div>
    <div class="px-6 py-4 border-t border-gray-200 bg-gray-50">
        {{> code-block language="html" code="
        <h1 class='text-6xl font-black'>h1 Cleopatra heading</h1>
        <h1 class='text-5xl font-extrabold'>h2 Cleopatra heading</h1>
        <h1 class='text-4xl font-extrabold'>h3 Cleopatra heading</h1>
        <h1 class='text-3xl font-extrabold'>h4 Cleopatra heading</h1>
        <h1 class='text-2xl font-extrabold'>h5 Cleopatra heading</h1>
        <h1 class='text-xl font-extrabold'>h6 Cleopatra heading</h1>
        " id="heading-1"}}
    </div>
</div>


<div class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-out mt-5">
    <div class="p-6">
        <p class="text-6xl font-black">h1. Cleopatra heading</p>
        <p class="text-5xl font-extrabold">h2. Cleopatra heading</p>
        <p class="text-4xl font-extrabold">h3. Cleopatra heading</p>
        <p class="text-3xl font-extrabold">h4. Cleopatra heading</p>
        <p class="text-2xl font-extrabold">h5. Cleopatra heading</p>
        <p class="text-xl font-extrabold">h6. Cleopatra heading</p>
    </div>
    <div class="px-6 py-4 border-t border-gray-200 bg-gray-50">
        {{> code-block language="html" code="
        <p class='h1'>h1. Cleopatra heading</p>
        <p class='h2'>h2. Cleopatra heading</p>
        <p class='h3'>h3. Cleopatra heading</p>
        <p class='h4'>h4. Cleopatra heading</p>
        <p class='h5'>h5. Cleopatra heading</p>
        <p class='h6'>h6. Cleopatra heading</p>" id="heading-2"}}
    </div>

</div>